// FONTS
$font-heading: 'Great Vibes', cursive;
$font-text: "Cormorant Garamond", serif;
$font-alter: "Noto Serif Khmer", serif;

// COLORS
$black-color: #0a0a0a;
$gray-color: #EAEAE9;
$yellow-color: #fceabb;
$orange-color: #f8b500;
$text-color: #eee;
$purple-color: #451a5f;

$color-golden: #8f764a;
$color-golden-dark: #665535;
$color-golden-extradark: #362d1b;
$color-golden-light: #bcad92;
$color-white: #FFFFFF;
$color-pink: rgba(70, 55, 49, 0.95);
$color-pink-dark: #292215;
$color-error: rgb(189, 92, 92);
// SPACING
$general-gap: 3.2rem;