@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.hashtag {

  padding-top: 4.8rem;

  &__container {
    border-radius: 5px;
    margin-bottom: 4rem;
    margin-top: -3rem;
    margin: 0 auto;
    padding: 2rem 0;
    width: 90%;
  }

  &__icon {
    width: 6rem;
    margin-bottom: 2rem;

    &--2 {
      transform: rotate(-180deg);
    }
  }

  &__text {
    font-family: v.$font-alter;
    font-weight: 200;
    line-height: 2;
    margin: 2rem auto;
    text-align: center;
    width: 50%;
  }

  &__hash {
    font-family: v.$font-alter;
    font-size: 2.4rem;
    margin-bottom: 1rem;
    padding: 1rem 0;
    text-align: center;
  }

  &__top {
    margin-top: -5rem;
  }

  &__square {
    background-color: v.$color-pink-dark;
    height: 4rem;
    opacity: .5;
    width: 4rem;
  }

  &__line {
    @include m.line( 10rem, v.$color-pink-dark );
  }

} 