@use '../abstracts/variables' as v;
@use '../abstracts/mixins' as m;

.btn {

  font-family: v.$font-alter;
  font-size: 1.4rem;
  font-weight: 700;
  padding: 1.5rem 1rem;
  letter-spacing: 2px;
  width: 85%;
  cursor: pointer;
  text-transform: uppercase;
  transition: all .4s ease-out;
  border-radius: 5px;
  text-align: center;

  &__icon {
    font-size: 3.2rem;
  }
  
  &__controls {
    position: fixed;
    bottom: 5%;
    left: 5%;
    display: flex;
    z-index: 99;
  }

  a {
    color: inherit;
  }

  &--small {
    background-color: rgba(255, 255, 255, .8);
    padding: .5rem 1rem;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-right: 1rem;
    width: 5rem;
    height: 5rem;
    box-shadow: 0 3px 3px rgba(255, 255, 255, 0.5);
    color: #000;

    &:last-of-type {
      margin-right: 0;
    }
  }

  &--nav {
    width: fit-content;
    padding: .7rem;
    background-color: transparent;
    color: v.$color-golden;
    border: 1px solid currentColor;
  }

  &--golden {
    background-color: v.$color-golden-extradark;
    color: #000;
  }
  
  &--pink {
    background-color: v.$color-pink;
    color: v.$color-white;
  }

  &--black {
    background: rgba(0, 0, 0, 0.5);
    color: #aaa;
  }

} 
